<ion-header>
  <ion-toolbar>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-car>
  <video class="" autoplay="" playsinline="true" x5-playsinline="true" webkit-playsinline="true" tabindex="2" mediatype="video" src="https://player.vimeo.com/external/484732151.sd.mp4?s=920e951e2eb3ff30c108209d9bf1f4a95c80918f&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4"></video>

</ion-car>
  <video class="" autoplay="" playsinline="true" x5-playsinline="true" webkit-playsinline="true" tabindex="2" mediatype="video" src="https://player.vimeo.com/external/467819715.sd.mp4?s=a26407997e8fee5bf0bd73c4ebc95938f2be1fdf&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4"></video>

  <div class="actions">
    <div>
      <ion-icon size="large" name="heart"></ion-icon>
    </div>
    <div>
      <ion-icon size="large" src="../assets/svg/share.svg">></ion-icon>
      <p>Compartir</p>
    </div>
  </div>
</ion-content>
